@model UCRMS.Models.ClassSchedule
@using Vereyon.Web;

@{
    ViewBag.Title = "Unallocate All Classrooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Unallocate All Classrooms</h2>
<hr />
@Html.RenderFlashMessages()

<div class="well">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal col-md-offset-3">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Unallocate Rooms" class="btn btn-success btn-block" id="unAllocateButton" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#unAllocateButton").click(function () {
                if (confirm("Are you sure to unallocate all the classrooms info?")) {
                    return true;
                }
                else {
                    return false;
                }
            });
        });
    </script>
}
