@model IEnumerable<UCRMS.Models.Department>

@{
    ViewBag.Title = "Departments Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">All Departments</h2>
<hr />
<div class="well">
    <table class="table table-bordered text-center">
        <thead>
            <tr class="bg-primary">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-info">
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
