body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.menu li {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

    .menu li a {
        display: block;
        background-color: #222222;
        color: #808080;
        text-transform: capitalize;
        font-size:16px;
        font-weight: normal;
        padding: 15px;
    }

    .menu li:hover > a {
        color: #ffffff;
    }

    .menu li li:hover > a {
        background-color: #444444;
        text-decoration: none;
    }

    .menu li li {
        display: block
    }

    .menu li ul {
        position: absolute;
        left: -40px;
        top: 100%;
        z-index: 10;
        display: none
    }

    .menu li:hover > ul {
        display: block
    }

    .menu li li ul {
        left: 0;
        top: 0
    }